extends ../layouts/main

block variables
  - let title = 'Error 404'

block main
  main.err
    div
      h1
        i.bi.bi-bell
        |  ERROR 404!
      p The page was not found!
      a(href="/")
        button home
