extends ../layouts/main

block variables
  - let title = 'Home'

block header
  include ../partials/header

block main
  main
    p If you need to check for an error (404) in loading the page , click on this button
    a(href="/blog")
      button
        i.bi.bi-power
        |  button

block footer
  include ../partials/footer
